#game-grid-container {
  padding-top: 10px;
  background-color: white;
  max-width: 396px;
}

#game-grid {
  max-height: 330px;
  max-width: 660px;
  width: 850px;
  height: 1000px;
  background-image: url("assets/board.png");
  background-size: 60%;
  background-position: left;
  background-repeat: no-repeat;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(7, 46px);
  grid-template-rows: repeat(6, 38px);
  padding: 7px 0 0 32px;
  background-color: transparent;
  max-height: 240px;
}

.column {
  display: flex;
  flex-direction: column;
  height: 1000px;
  align-items: center;
  justify-content: center;
  height: 225px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 100px;
  background-color: transparent;
  font-size: 14px;
  font-family: sans-serif;
}

.square {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.game-infos {
  font-size: 2em;
}

.red {
  background-color: #ed2901;
  color: white;
}

.yellow {
  background-color: #f5bd59;
  color: black;
}

.empty {
  background-color: white;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.603);
}

.circle.highlight {
  animation:
    pulse 0.75s infinite alternate,
    borderBlink 1s infinite;
}

@keyframes borderBlink {
  0% {
    outline: 3px solid #f5bd59;
  }
  50% {
    outline: 2px solid gray;
  }
  100% {
    outline: 3px solid #ed2901;
  }
}

.circle.small {
  width: 30px;
  height: 30px;
  box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.3);
}
